<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block header_title %}Site Title{% end %}</title>
    <meta charset="utf-8" />
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="{{ static_url('extension/bootstrap/dist/css/bootstrap.css') }}">
    <link href="{{static_url('extension/nprogress/nprogress.css')}}" rel="stylesheet">
    <!--<link rel="stylesheet" href="{{static_url('extension/bootstrap-daterangepicker/daterangepicker.css')}}">-->

    <link rel="stylesheet" href="{{ static_url('extension/font-awesome/css/font-awesome.min.css')}}">

    <link rel="stylesheet" href="{{static_url('extension/iCheck/skins/flat/green.css')}}">

    <link rel="stylesheet" href="{{static_url('custom/css/custom.min.css')}}">


    {% block header_static %}{% end %}
</head>
<body class="nav-md">
    <header>
        {% block header_nav %} {% end %}
    </header>


    <script src="{{static_url('extension/jquery/dist/jquery.min.js')}}"></script>
    <script src="{{static_url('extension/bootstrap/dist/js/bootstrap.min.js')}}"></script>
    <script src="{{static_url('extension/fastclick/lib/fastclick.js')}}"></script>
    <!-- NProgress -->
    <script src="{{static_url('extension/nprogress/nprogress.js')}}"></script>
    <script src="{{static_url('extension/iCheck/icheck.min.js')}}"></script>

    <script src="{{static_url('extension/skycons/skycons.js')}}"></script>

    <!--<script src="{{static_url('extension/moment/min/moment.min.js')}}"></script>-->
    {% block footer_static %}{% end %}

    {% block body %} {% end %}
    {% block body_static %} {% end %}
    <script src="{{static_url('custom/js/custom.min.js')}}"></script>
</body>

</html>